@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap'); /* importando a fonte */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --main-color: #2979FF;
    --secondary-color: rgba(59,130,246);
    --tertiary-color: #FF950B;
    --shadow-color: rgba(59,130,246, 0.4);
    --main-font: 'Quicksand';
}