/* variáveis estão no /globals.css */

.body { /* classe do corpo completo da page */
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--main-font), sans-serif;
}

.header { /* classe do header */
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    box-shadow: 0px 4px 5px var(--shadow-color);
}

.name { /* classe do nome na header */
    margin: auto 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.main { /* classe da seção principal da page */
    text-align: center;
    font-size: 24px;
    margin: 6vw 0;
}

.h1 { /* classe do título */
    font-weight: 600;
    font-size: 34px;
    color: var(--main-color);
}

.counter { /* classe do contador */
    font-size: 48px;
    color: var(--tertiary-color);
    font-weight: 700;
    margin-bottom: 1rem;
}

.buttonContainer { /* classe que comporta os dois botões */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 30%;
}

.cardContainer { /* classe que comporta os cards */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#card { /* id do card em si */
    background-color: var(--main-color);
    height: 60px;
    width: 100px;
    margin: 2rem 2rem;
    text-align: center;
    color: var(--tertiary-color);
    font-weight: 600;
    padding: 0.65rem 0;
    transition: transform 0.75s ease-in-out 0ms;
}

#card:hover {
    transform: scale(1.5);
}